In [ ]:
#Pandas2
import pandas as pd
import openpyxl
import xlrd

In [ ]:
dict={0:["Sudeep", "Aryan", "Shivam", "Jatin", "Anshuman"], 1:[1, 2, 3, 4, 5], 2:[1000.0, 500.0, 200.0, 100.0, 40.0]}
df=pd.DataFrame(dict)
df=df.rename(index={0:"First", 1:"Second", 2:"Third", 3:"Fourth", 4:"Fifth"}, columns={0:"Name", 1:"Rank", 2:"Price"})
df

In [ ]:
df.to_csv("Topper.csv", index=False)
df1=pd.read_csv("Topper.csv")
df.to_excel("Topper.xlsx", sheet_name="Topper", index=False)
df2=pd.read_excel("Topper.xlsx")
print(df1, df2, sep="\n")

In [ ]:
df1=pd.DataFrame({"Name":["Sudeep", "Aryan", "Shivam"], "Rank":[1, 2, 3]})
df2=pd.DataFrame({"Name":["Jatin", "Anshuman"], "Rank":[4, 5]})
df3=pd.DataFrame({"Price":[1000.0, 500.0, 200.0, 100.0, 40.0]})
df4=pd.concat([df1, df2], ignore_index=True)
df5=pd.concat([df4, df3], axis=1)
df5

In [ ]:
df1=pd.DataFrame({"Name":["Sudeep", "Aryan", "Shivam", "Jatin", "Anshuman"], "Rank":[1, 2, 3, 4, 5]})
df2=pd.DataFrame({"Name":["Sudeep", "Aryan", "Shivam", "Jatin", "Anshuman"], "Price":[1000.0, 500.0, 200.0, 100.0, 40.0]})
df3=pd.merge(df1, df2, on="Name", how="inner")          # left, right, outer, cross
print(df3)

In [ ]:
print(df.groupby(["Gender", "Age"])["Height", "Weight"].sum())
print(df.groupby(["Gender", "Age"])["Height", "Weight"].get_group((1, 2)))
print(df.pivot_table(values=["Height", "Weight"], index=["Gender"], columns=["Age"]))